!!! 5
html
  head
    script(src="http://code.jquery.com/jquery-latest.min.js", type="text/javascript")
  body
    form(method='POST', action='/')
      != captcha
      input(type='submit', value='Check Civil Rights Captcha')
